services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: barrywifi
      POSTGRES_DB: barry_paywifi
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: ./backend
    container_name: api
    command: >
      sh -c "sleep 10 && uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: barrywifi
      POSTGRES_DB: barry_paywifi
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./backend:/app

volumes:
  postgres_data:
