name: Build Barry WiFi Pay (All Platforms)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: flutter
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter pub get
      - run: flutter build apk --release

      - uses: actions/upload-artifact@v3
        with:
          name: android-apk
          path: flutter/build/app/outputs/flutter-apk/app-release.apk

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: flutter
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter pub get
      - run: flutter build windows --release
      - uses: actions/upload-artifact@v3
        with:
          name: windows-build
          path: flutter/build/windows/runner/Release/
